<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="createdatasourcewizard" name="Create Datasource Wizard" schema="schema/org.palladiosimulator.edp2.ui.createdatasourcewizard.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.palladiosimulator.edp2.ui.category"
            name="EDP2">
      </category>
      <view
            allowMultiple="false"
            category="org.palladiosimulator.edp2.ui.category"
            class="org.palladiosimulator.edp2.ui.views.navigator.Navigator"
            icon="icons/tree_root.gif"
            id="org.palladiosimulator.edp2.ui.views.navigator"
            name="Experiments"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.palladiosimulator.edp2.ui.perspective.Perspective"
            icon="icons/tree_root.gif"
            id="org.palladiosimulator.edp2.ui.perspective"
            name="EDP2">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.palladiosimulator.edp2.ui.category.dataSources"
            defaultHandler="org.palladiosimulator.edp2.ui.commands.AddDataSourceHandler"
            description="Creates a new data source and adds it to the experiment view."
            id="org.palladiosimulator.edp2.ui.commands.AddDataSource"
            name="New Data Source">
         <commandParameter
               id="org.palladiosimulator.edp2.ui.commands.AddDataSource.datasourcetype"
               name="datasourcetype"
               optional="false"
               values="org.palladiosimulator.edp2.ui.commands.AddDataSourceHandler">
         </commandParameter>
      </command>
      <category
            id="org.palladiosimulator.edp2.ui.category.dataSources"
            name="Data Sources">
      </category>
   </extension>
     <extension
           point="org.eclipse.ui.commands">
        <command
              categoryId="org.palladiosimulator.edp2.ui.category.dataSources"
              defaultHandler="org.palladiosimulator.edp2.ui.commands.OpenDataSourceHandler"
              description="Opens an existing data source and adds it to the experiment view."
              id="org.palladiosimulator.edp2.ui.commands.OpenDataSource"
              name="Open Data Source">
           <commandParameter
                 id="org.palladiosimulator.edp2.ui.commands.AddDataSource.datasourcetype"
                 name="datasourcetype"
                 optional="false"
                 values="org.palladiosimulator.edp2.ui.commands.AddDataSourceHandler">
           </commandParameter>
        </command>
        <category
              id="org.palladiosimulator.edp2.ui.category.dataSources"
              name="Data Sources">
        </category>
     </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.palladiosimulator.edp2.ui.category.dataSources"
            defaultHandler="org.palladiosimulator.edp2.ui.commands.CloseDataSourceHandler"
            description="Closes a data source and removes it from the experiment view."
            id="org.palladiosimulator.edp2.ui.commands.CloseDataSource"
            name="Close Data Source">
      </command>
      <category
            id="org.palladiosimulator.edp2.ui.category.dataSources"
            name="Data Sources">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.palladiosimulator.edp2.ui.category.dataSources"
            defaultHandler="org.palladiosimulator.edp2.ui.commands.ExpandDataSourcesHandler"
            description="Expands all data sources in the tree viewer."
            id="org.palladiosimulator.edp2.ui.commands.ExpandDataSources"
            name="Expand All Data Sources">
      </command>
      <category
            id="org.palladiosimulator.edp2.ui.category.dataSources"
            name="Data Sources">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.palladiosimulator.edp2.ui.category.dataSources"
            defaultHandler="org.palladiosimulator.edp2.ui.commands.CollapseDataSourcesHandler"
            description="Collapses all data sources in the tree viewer."
            id="org.palladiosimulator.edp2.ui.commands.CollapseDataSources"
            name="Collapse All Data Sources">
      </command>
      <category
            id="org.palladiosimulator.edp2.ui.category.dataSources"
            name="Data Sources">
      </category>
   </extension>
     <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.palladiosimulator.edp2.ui.category.dataSources"
            defaultHandler="org.palladiosimulator.edp2.ui.commands.BatchExportHandler"
            description="Batch exports all results in a data source."
            id="org.palladiosimulator.edp2.ui.commands.BatchExporter"
            name="Export Repository to CSV files">
      </command>
      <category
            id="org.palladiosimulator.edp2.ui.category.dataSources"
            name="Data Sources">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="toolbar:org.palladiosimulator.edp2.ui.views.navigator">
         <command
               commandId="org.palladiosimulator.edp2.ui.toolbar.adddatasource"
               icon="icons/add_datasource.gif"
               label="Add..."
               style="pulldown">
         </command>
         <command
               commandId="org.palladiosimulator.edp2.ui.commands.CloseDataSource"
               icon="icons/dellete_datasource.gif"
               label="Close..."
               style="push">
         </command>
         <command
               commandId="org.palladiosimulator.edp2.ui.commands.BatchExporter"
               icon="icons/batchexport.gif"
               label="Export to CSV..."
               style="push">
         </command>
         <command
               commandId="org.palladiosimulator.edp2.ui.commands.ExpandDataSources"
               icon="icons/expandall.gif"
               label="Expand All..."
               style="push">
         </command>
         <command
               commandId="org.palladiosimulator.edp2.ui.commands.CollapseDataSources"
               icon="icons/collapseall.gif"
               label="Collapse All..."
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="org.palladiosimulator.edp2.ui.views.navigator.AddDataSourceMenu"
            locationURI="menu:org.palladiosimulator.edp2.ui.toolbar.adddatasource">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.palladiosimulator.edp2.ui.propertyContributor"
            labelProvider="org.palladiosimulator.edp2.ui.properties.EMFLabelProvider">
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.palladiosimulator.edp2.ui.propertyContributor">
         <propertyTab
               category="advanced"
               id="org.palladiosimulator.edp2.ui.advancedTab"
               label="Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.palladiosimulator.edp2.ui.propertyContributor">
         <propertySection
               class="org.palladiosimulator.edp2.ui.properties.EMFPropertySection"
               id="org.palladiosimulator.edp2.ui.advancedSection"
               tab="org.palladiosimulator.edp2.ui.advancedTab">
            <input
                  type="org.eclipse.emf.ecore.EObject">
            </input>
         </propertySection>
      </propertySections>
   </extension>
     <extension
           point="org.eclipse.ui.commands">
        <command
              categoryId="org.palladiosimulator.edp2.ui.category.dataSources"
              defaultHandler="org.palladiosimulator.edp2.ui.commands.AddDataSourceDropDownHandler"
              description="Select Data Source type to create from drop down menu"
              id="org.palladiosimulator.edp2.ui.toolbar.adddatasource"
              name="New Data Source">
        </command>
        <category
              id="org.palladiosimulator.edp2.ui.category.dataSources"
              name="Data Sources">
        </category>
     </extension>
     <extension
           point="org.palladiosimulator.edp2.ui.createdatasourcewizard">
        <datasourcefactory
              class="org.palladiosimulator.edp2.ui.wizards.datasource.LocalMemoryRepositoryContribution"
              name="Local Memory Repository">
        </datasourcefactory>
     </extension>
</plugin>
