<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated parquet -->
      <package
            uri="http://org.palladiosimulator.edp2/ParquetRepository/1.0"
            class="org.palladiosimulator.edp2.repository.parquet.ParquetPackage"
            genModel="model/parquet.genmodel"/>
   </extension>

</plugin>
