<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated localrepository -->
      <factory
            uri="http://org.palladiosimulator.edp2/LocalRepository/1.0"
            class="org.palladiosimulator.edp2.local.provider.LocalItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated localrepository -->
      <extender
            uri="http://palladiosimulator.org/EDP2/Repository/1.0"
            class="org.palladiosimulator.edp2.local.provider.LocalItemProviderAdapterFactory$RepositoryChildCreationExtender"/>
   </extension>
</plugin>
