<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.palladiosimulator.edp2.ui.category"
            class="org.palladiosimulator.edp2.ui.views.navigator.Navigator"
            id="org.palladiosimulator.edp2.ui.views.navigator"
            name="Experiments">
      </view>
      <category
            id="org.palladiosimulator.edp2.ui.category"
            name="EDP2">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.palladiosimulator.edp2.ui.perspective.Perspective"
            id="org.palladiosimulator.edp2.ui.perspective"
            name="EDP2">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.palladiosimulator.edp2.ui.category.dataSources"
            defaultHandler="org.palladiosimulator.edp2.ui.commands.OpenDataSourceHandler"
            description="Opens or creates a new data source and adds it to the experiment view."
            id="org.palladiosimulator.edp2.ui.commands.OpenDataSource"
            name="Add Data Source">
      </command>
      <category
            id="org.palladiosimulator.edp2.ui.category.dataSources"
            name="Data Sources">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.palladiosimulator.edp2.ui.category.dataSources"
            defaultHandler="org.palladiosimulator.edp2.ui.commands.CloseDataSourceHandler"
            description="Closes a data source and removes it from the experiment view."
            id="org.palladiosimulator.edp2.ui.commands.CloseDataSource"
            name="Close Data Source">
      </command>
      <category
            id="org.palladiosimulator.edp2.ui.category.dataSources"
            name="Data Sources">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.palladiosimulator.edp2.ui.views.navigator">
         <command
               commandId="org.palladiosimulator.edp2.ui.commands.OpenDataSource"
               label="Open..."
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.palladiosimulator.edp2.ui.views.navigator">
         <command
               commandId="org.palladiosimulator.edp2.ui.commands.CloseDataSource"
               label="Close..."
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.palladiosimulator.edp2.ui.propertyContributor"
            labelProvider="org.palladiosimulator.edp2.ui.properties.EMFLabelProvider">
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.palladiosimulator.edp2.ui.propertyContributor">
         <propertyTab
               category="advanced"
               id="org.palladiosimulator.edp2.ui.advancedTab"
               label="Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.palladiosimulator.edp2.ui.propertyContributor">
         <propertySection
               class="org.palladiosimulator.edp2.ui.properties.EMFPropertySection"
               id="org.palladiosimulator.edp2.ui.advancedSection"
               tab="org.palladiosimulator.edp2.ui.advancedTab">
            <input
                  type="org.eclipse.emf.ecore.EObject">
            </input>
         </propertySection>
      </propertySections>
   </extension>

</plugin>
