<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated localrepository -->
      <package
            uri="http://org.palladiosimulator.edp2/LocalRepository/1.0"
            class="org.palladiosimulator.edp2.local.LocalPackage"
            genModel="model/localrepository.genmodel"/>
   </extension>

</plugin>