<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.palladiosimulator.edp2.visualization.jfreechart.input.xyplot.XYPlotVisualizationInputFactory"
            id="org.palladiosimulator.edp2.visualization.jfreechart.input.xyplot.XYPlotVisualizationInputFactory">
      </factory>
      <factory
            class="org.palladiosimulator.edp2.visualization.jfreechart.input.histogram.HistogramVisualizationInputFactory"
            id="org.palladiosimulator.edp2.visualization.jfreechart.input.histogram.HistogramVisualizationInputFactory">
      </factory>
      <factory
            class="org.palladiosimulator.edp2.visualization.jfreechart.input.cdf.CDFVisualizationInputFactory"
            id="org.palladiosimulator.edp2.visualization.jfreechart.input.cdf.CDFVisualizationInputFactory">
      </factory>
      <factory
            class="org.palladiosimulator.edp2.visualization.jfreechart.input.pie.PieChartVisualizationInputFactory"
            id="org.palladiosimulator.edp2.visualization.jfreechart.input.pie.PieChartVisualizationInputFactory">
      </factory>
      <factory
            class="org.palladiosimulator.edp2.visualization.jfreechart.input.pie.executionresult.ExecutionResultPieChartVisualizationInputFactory"
            id="org.palladiosimulator.edp2.visualization.jfreechart.input.pie.executionresult.ExecutionResultPieChartVisualizationInputFactory">
      </factory>
      <factory
            class="org.palladiosimulator.edp2.visualization.jfreechart.input.JFreeChartVisualizationSingleDatastreamInputFactory"
            id="org.palladiosimulator.edp2.visualization.jfreechart.input.JFreeChartVisualizationSingleDatastreamInputFactory">
      </factory>
      <factory
            class="org.palladiosimulator.edp2.filter.warmup.WarmUpFilterFactory"
            id="org.palladiosimulator.edp2.filter.warmup.WarmUpFilterFactory">
      </factory>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.palladiosimulator.edp2.visualization.jfreechart.editor.JFreeChartEditor"
            default="false"
            id="org.palladiosimulator.edp2.visualization.editors.JFreeChartEditor"
            name="JFreeChartEditor">
      </editor>
   </extension>

   <extension
         point="org.palladiosimulator.edp2.visualization.datasink">
      <datasink
            class="org.palladiosimulator.edp2.visualization.jfreechart.input.xyplot.XYPlotVisualizationInput"
            editor="org.palladiosimulator.edp2.visualization.editors.JFreeChartEditor"
            factory="org.palladiosimulator.edp2.visualization.jfreechart.input.xyplot.XYPlotVisualizationInputFactory"
            id="org.palladiosimulator.edp2.visualization.inputs.ScatterPlotInput">
      </datasink>
      <datasink
            class="org.palladiosimulator.edp2.visualization.jfreechart.input.histogram.HistogramVisualizationInput"
            editor="org.palladiosimulator.edp2.visualization.editors.JFreeChartEditor"
            factory="org.palladiosimulator.edp2.visualization.jfreechart.input.histogram.HistogramVisualizationInputFactory"
            id="org.palladiosimulator.edp2.visualization.inputs.HistogramEditorInput">
      </datasink>
      <datasink
            class="org.palladiosimulator.edp2.visualization.jfreechart.input.cdf.CDFVisualizationInput"
            editor="org.palladiosimulator.edp2.visualization.editors.JFreeChartEditor"
            factory="org.palladiosimulator.edp2.visualization.jfreechart.input.cdf.CDFVisualizationInputFactory"
            id="org.palladiosimulator.edp2.visualization.inputs.CDFEditorInput">
      </datasink>
      <datasink
            class="org.palladiosimulator.edp2.visualization.jfreechart.input.pie.PieChartVisualizationInput"
            editor="org.palladiosimulator.edp2.visualization.editors.JFreeChartEditor"
            factory="org.palladiosimulator.edp2.visualization.jfreechart.input.pie.PieChartVisualizationInputFactory"
            id="org.palladiosimulator.edp2.visualization.inputs.pie.PieChartVisualizationInput">
      </datasink>
      <datasink
            class="org.palladiosimulator.edp2.visualization.jfreechart.input.pie.executionresult.ExecutionResultPieChartVisualizationInput"
            editor="org.palladiosimulator.edp2.visualization.editors.JFreeChartEditor"
            factory="org.palladiosimulator.edp2.visualization.jfreechart.input.pie.executionresult.ExecutionResultPieChartVisualizationInputFactory"
            id="org.palladiosimulator.edp2.visualization.inputs.pie.executionresult.ExecutionResultPieChartVisualizationInput">
      </datasink>
   </extension>
   <extension
         point="org.palladiosimulator.edp2.visualization.filter">
         <filter
            class="org.palladiosimulator.edp2.filter.warmup.WarmUpFilter"
            factory="org.palladiosimulator.edp2.filter.warmup.WarmUpFilterFactory"
            id="org.palladiosimulator.edp2.filter.warmup.WarmUpFilter"
            wizard="org.palladiosimulator.edp2.filter.warmup.WarmUpFilterWizard">
            
      	</filter>
         
   </extension>
   
   
   <extension
         point="org.palladiosimulator.edp2.datastream.chainDescription">
      <chainDescription
            id="org.palladiosimulator.edp2.visualization.jfreechart.piechart"
            name="Pie Chart">
         <datasink
               sinkID="org.palladiosimulator.edp2.visualization.inputs.pie.PieChartVisualizationInput">
         </datasink>
      </chainDescription>
   </extension>
   <extension
         point="org.palladiosimulator.edp2.datastream.chainDescription">
      <chainDescription
            id="org.palladiosimulator.edp2.visualization.jfreechart.piechart.executionresult"
            name="Execution Result Pie Chart">
         <datasink
               sinkID="org.palladiosimulator.edp2.visualization.inputs.pie.executionresult.ExecutionResultPieChartVisualizationInput">
         </datasink>
      </chainDescription>
   </extension>
   <extension
         point="org.palladiosimulator.edp2.datastream.chainDescription">
      <chainDescription
            id="org.palladiosimulator.edp2.visualization.jfreechart.xyplot"
            name="XY Plot">
         <datasink
               sinkID="org.palladiosimulator.edp2.visualization.inputs.ScatterPlotInput">
         </datasink>
      </chainDescription>
   </extension>
   <extension
         point="org.palladiosimulator.edp2.datastream.chainDescription">
      <chainDescription
            id="org.palladiosimulator.edp2.visualization.jfreechart.histogram"
            name="Histogram">
         <datasink
               sinkID="org.palladiosimulator.edp2.visualization.inputs.HistogramEditorInput">
         </datasink>
      </chainDescription>
   </extension>
   <extension
         point="org.palladiosimulator.edp2.datastream.chainDescription">
      <chainDescription
            id="org.palladiosimulator.edp2.visualization.jfreechart.cdf"
            name="Cumulative Distribution Function (CDF)">
         <datasink
               sinkID="org.palladiosimulator.edp2.visualization.inputs.CDFEditorInput">
         </datasink>
      </chainDescription>
   </extension>
  
   
</plugin>
