<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.elementFactories">
	  <factory
	        class="org.palladiosimulator.edp2.filter.warmup.WarmupFilterFactory"
	        id="org.palladiosimulator.edp2.filter.warmup.WarmUpFilterFactory">
	  </factory>
   </extension>
   <extension
         point="org.palladiosimulator.edp2.visualization.filter">
         <filter
               class="org.palladiosimulator.edp2.filter.warmup.WarmUpFilter"
               factory="org.palladiosimulator.edp2.filter.warmup.WarmupFilterFactory"
               id="org.palladiosimulator.edp2.filter.warmup.WarmUpFilter"
               name="Warmup Filter"
               wizard="org.palladiosimulator.edp2.visualization.DefaultFilterPropertiesWizard">            
      	</filter>         
   </extension>
</plugin>
