<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.palladiosimulator.edp2.visualization.datasink" name="Data Sink" schema="schema/org.palladiosimulator.edp2.visualization.datasink.exsd"/>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.palladiosimulator.edp2.visualization.editors.AbstractEditor">
         <propertyCategory category="sample"/>
      </propertyContributor>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.palladiosimulator.edp2.visualization.editors.AbstractEditor">
         <propertyTab
               category="sample"
               id="org.palladiosimulator.edp2.visualization.propertyTabTransformations"
               label="Filter &amp; Adapter">
         </propertyTab>
         <propertyTab
               afterTab="org.palladiosimulator.edp2.visualization.propertyTabTransformations"
               category="sample"
               id="org.palladiosimulator.edp2.visualization.propertyTabDisplay"
               label="Display">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.palladiosimulator.edp2.visualization.editors.AbstractEditor">
         <propertySection
               class="org.palladiosimulator.edp2.visualization.properties.sections.TransformationsPropertySection"
               
               id="org.palladiosimulator.edp2.visualization.propertySectionTransformations"
               tab="org.palladiosimulator.edp2.visualization.propertyTabTransformations">
         </propertySection>
          <propertySection
                class="org.palladiosimulator.edp2.visualization.properties.sections.DisplayPropertySection"
                id="org.palladiosimulator.edp2.visualization.propertySectionDisplay"
                tab="org.palladiosimulator.edp2.visualization.propertyTabDisplay">
             <input
                   type="org.palladiosimulator.edp2.visualization.AbstractVisualizationInput">
             </input>
         </propertySection>
         
      </propertySections>
   </extension>
</plugin>
