<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="jfreechart" name="JFreeChart Visualization" schema="schema/org.palladiosimulator.edp2.visualization.jfreechart.exsd"/>
   <extension-point id="adapter" name="Adapter" schema="schema/org.palladiosimulator.edp2.adapter.exsd"/>
   <extension-point id="filter" name="Filter" schema="schema/org.palladiosimulator.edp2.filter.exsd"/>
   <extension-point id="defaultSequences" name="Default Sequences" schema="schema/defaultSequence.exsd"/>
   <extension-point id="datasink" name="Data Sink" schema="schema/datasink.exsd"/>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.palladiosimulator.edp2.visualization.inputs.xyplots.XYPlotVisualizationInputFactory"
            id="org.palladiosimulator.edp2.visualization.inputs.xyplots.XYPlotVisualizationInputFactory">
      </factory>
      <factory
            class="org.palladiosimulator.edp2.visualization.inputs.histogram.HistogramVisualizationInputFactory"
            id="org.palladiosimulator.edp2.visualization.inputs.histogram.HistogramVisualizationInputFactory">
      </factory>
      <factory
            class="org.palladiosimulator.edp2.visualization.inputs.pie.PieChartVisualizationInputFactory"
            id="org.palladiosimulator.edp2.visualization.inputs.pie.PieChartVisualizationInputFactory">
      </factory>
      <factory
            class="org.palladiosimulator.edp2.visualization.elementfactories.JFreeChartVisualizationSingleDatastreamInputFactory"
            id="org.palladiosimulator.edp2.visualization.elementfactories.JFreeChartVisualizationSingleDatastreamInputFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.palladiosimulator.edp2.visualization.editors.AbstractEditor">
         <propertyCategory category="sample"/>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.palladiosimulator.edp2.visualization.editors.AbstractEditor">
         <propertyTab
               category="sample"
               id="org.palladiosimulator.edp2.visualization.propertyTabTransformations"
               label="Filter &amp; Adapter">
         </propertyTab>
         <propertyTab
               afterTab="org.palladiosimulator.edp2.visualization.propertyTabTransformations"
               category="sample"
               id="org.palladiosimulator.edp2.visualization.propertyTabDisplay"
               label="Display">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.palladiosimulator.edp2.visualization.editors.AbstractEditor">
         <propertySection
               class="org.palladiosimulator.edp2.visualization.properties.sections.TransformationsPropertySection"
               
               id="org.palladiosimulator.edp2.visualization.propertySectionTransformations"
               tab="org.palladiosimulator.edp2.visualization.propertyTabTransformations">
         </propertySection>
          <propertySection
                class="org.palladiosimulator.edp2.visualization.properties.sections.DisplayPropertySection"
                id="org.palladiosimulator.edp2.visualization.propertySectionDisplay"
                tab="org.palladiosimulator.edp2.visualization.propertyTabDisplay">
             <input
                   type="org.palladiosimulator.edp2.visualization.editors.JFreeChartVisualizationInput">
             </input>
         </propertySection>
         
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.palladiosimulator.edp2.visualization.editors.JFreeChartEditor"
            default="false"
            id="org.palladiosimulator.edp2.visualization.editors.JFreeChartEditor"
            name="JFreeChartEditor">
      </editor>
   </extension>
   <extension
         point="org.palladiosimulator.edp2.visualization.defaultSequences">
      <defaultSequence
            id="responseTime"
            name="Response Time">
         <inputMetric
               UUID="_MenvIiUREd6gmLudJva2Dw"
               description="default combination for 2-dimensional measurements of response time">
         </inputMetric>
         <datasink
               sinkID="org.palladiosimulator.edp2.visualization.inputs.histogram.HistogramVisualizationInput">
            <property
                  key="numberOfBins"
                  name="the number of bins"
                  value="10">
            </property>
         </datasink>
      </defaultSequence>
      <defaultSequence
            id="utilization"
            name="Utilization">
         <inputMetric
               UUID="no_UUID"
               description="2-dimensional data with repeating values">
         </inputMetric>
         <datasink
               sinkID="org.palladiosimulator.edp2.visualization.inputs.pie.PieChartVisualizationInput">
         </datasink>
      </defaultSequence>
   </extension>
   <extension
         point="org.palladiosimulator.edp2.visualization.datasink">
      <datasink
            class="org.palladiosimulator.edp2.visualization.inputs.histogram.HistogramVisualizationInput"
            editor="org.palladiosimulator.edp2.visualization.editors.JFreeChartEditor"
            factory="org.palladiosimulator.edp2.visualization.inputs.histogram.HistogramVisualizationInputFactory"
            id="org.palladiosimulator.edp2.visualization.inputs.HistogramEditorInput">
      </datasink>
      <datasink
            class="org.palladiosimulator.edp2.visualization.inputs.xyplots.XYPlotVisualizationInput"
            editor="org.palladiosimulator.edp2.visualization.editors.JFreeChartEditor"
            factory="org.palladiosimulator.edp2.visualization.inputs.xyplots.XYPlotVisualizationInputFactory"
            id="org.palladiosimulator.edp2.visualization.inputs.ScatterPlotInput">
      </datasink>
      <datasink
            class="org.palladiosimulator.edp2.visualization.inputs.pie.PieChartVisualizationInput"
            editor="org.palladiosimulator.edp2.visualization.editors.JFreeChartEditor"
            factory="org.palladiosimulator.edp2.visualization.inputs.pie.PieChartVisualizationInputFactory"
            id="org.palladiosimulator.edp2.visualization.inputs.pie.PieChartVisualizationInput">
      </datasink> 
   </extension>

</plugin>
